<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
<title></title>
</head>
<body>
  <form class="container pt-3">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>
            <input type="checkbox" id="checkboxAll">
          </th>
          <th>　全選択チェックボックスサンプル</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" id="checkbox1">
          </td>
          <td>左上のチェックボックスを</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox2">
          </td>
          <td>クリックすると</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox3">
          </td>
          <td>下のチェックボックスも変更されます</td>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-center">
    	<a th:href="@{/}" class="btn btn-primary">トップへ戻る</a>
    </div>
  </form>
  <script type="text/javascript" th:src="@{/js/checkboxAll.js}"></script>
</body>
</html>