<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
<title></title>
</head>
<body>
  <div class="container pt-3">
    <label class="h5">JavaScriptサンプル</label><br><br>
    <ul>
      <li><a th:href="@{/toggleDisabled}">入力項目の有効/無効切り替え</a></li><br>
      <li><a th:href="@{/checkboxAll}">全選択チェックボックス</a></li>
    </ul>
  </div>
</body>
</html>