<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
<title></title>
</head>
<body>
  <form class="container pt-3" style="max-width: 500px;">
    <div class="form-group row">
      <label class="col-4">有効/無効切り替え</label>
      <div class="col-8">
        <select class="form-control" id="toggleSelect">
          <option value="top">上のtextboxを有効にする</option>
          <option value="bottom">下のtextboxを有効にする</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4">上のtextbox</label>
      <div class="col-8">
        <input id="topTextbox" type="text" class="form-control" value="最初はこちらが有効ですが">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4">下のtextbox</label>
      <div class="col-8">
          <textarea id="bottomTextbox" class="form-control" row="3" disabled>comboboxの値を変更すると、
有効/無効が切り替わります
          </textarea>
      </div>
    </div>
    <div class="row justify-content-center">
    	<a th:href="@{/}" class="btn btn-primary">トップへ戻る</a>
    </div>
  </form>
  <script type="text/javascript" th:src="@{/js/toggleDisabled.js}"></script>
</body>
</html>